/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    .my_content h2 {
        text-align: center;
        font-size: 45px;
        padding-bottom: 0px;
    }
    .my_content h3 {
        text-align: center;
        font-size: 40px;
    }
    .my_content h4 {
        font-size: 22px;
    }
    .my_content p {
        text-align: justify;
        width: 95%;
        font-size: 15px;
        padding-top: 8px;
    }
    .main_img img {
        width: 100%;
    }
    .btn-coustom {
        margin-left: 0px;
    }
    .btn-coustom {
        display: block;
        width: 90%;
        padding: 12px 15px;
        font-size: 16px;
        margin-left: 0px;
    }
    .btn-coustom2 {
        margin: auto;
        display: block;
        width: 100%;
        padding: 12px 15px;
        font-size: 16px;
    }
    .btn-coustom:hover,
    .btn-coustom2:hover {
        padding: 12px 30px;
    }
    .middle-content h2 {
        padding-bottom: 0px;
        text-align: center;
        font-size: 40px;
    }
    .middle-content .first-paragraph {
        font-size: 35px;
        text-align: center;
        padding-bottom: 0px;
        margin-bottom: 7px;
    }
    #middle-part {
        padding: 102px 0px;
        background-image: url(../img/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 65px;
    }
    #exparience-part {
        background-image: url(../img/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 65px;
        padding: 70px 0px;
    }
    .experet {
        padding-left: 25px;
    }
    .left-part {
        margin-left: 50px;
    }
    .left-part h2,
    .right-part h2 {
        font-size: 29px;
    }
    .title h2 {
        text-align: center;
    }
    .right-part {
        border-left: none;
        border-right: 7px solid;
        border-image: linear-gradient(rgb(148, 164, 255), rgb(78, 58, 255));
        border-image-slice: 1;
        text-align: right;
        margin-left: 50px;
    }
    .content {
        margin-bottom: 35px;
    }
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .my_content h2 {
        text-align: center;
        font-size: 45px;
        padding-bottom: 0px;
    }
    .my_content h3 {
        text-align: center;
        font-size: 40px;
    }
    .my_content h4 {
        font-size: 22px;
    }
    .my_content p {
        text-align: justify;
        width: 95%;
        font-size: 15px;
        padding-top: 8px;
    }
    .main_img img {
        width: 100%;
    }
    .btn-coustom,
    .btn-coustom2 {
        margin: auto;
        display: block;
        width: 55%;
        padding: 12px 15px;
        font-size: 16px;
    }
    .btn-coustom:hover,
    .btn-coustom2:hover {
        padding: 12px 30px;
    }
    .middle-content h2 {
        padding-bottom: 0px;
        text-align: center;
        font-size: 40px;
    }
    .middle-content .first-paragraph {
        font-size: 35px;
        text-align: center;
        padding-bottom: 0px;
        margin-bottom: 7px;
    }
    #middle-part {
        padding: 102px 0px;
        background-image: url(../img/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 65px;
    }
    #exparience-part {
        background-image: url(../img/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 70px;
        padding: 70px 0px;
    }
    .left-part {
        margin-left: 50px;
    }
    .left-part h2,
    .right-part h2 {
        font-size: 29px;
    }
    .title h2 {
        text-align: center;
    }
    .right-part {
        border-left: none;
        border-right: 7px solid;
        border-image: linear-gradient(rgb(148, 164, 255), rgb(78, 58, 255));
        border-image-slice: 1;
        text-align: right;
        margin-left: 50px;
    }
    .content {
        margin-bottom: 35px;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .my_content h4 {
        font-size: 16px;
    }
    .my_content p {
        line-height: 22px;
        padding-bottom: 20px;
        font-size: 12px;
    }
    .main_img img {
        width: 400px;
        padding-top: 100px;
    }
    .middle-content .first-paragraph {
        margin-bottom: 5px;
    }
    .middle-img {
        padding-top: 25px;
    }
    .middle-content .second-paragraph {
        width: 75%;
        font-size: 13px;
        line-height: 23px;
    }
    #middle-part {
        padding: 50px 0px;
    }
    .middle-content {
        padding: 0px !important;
    }
    .middle-content h2 {
        padding-bottom: 0px;
    }
    .left-part h2,
    .right-part h2 {
        padding-bottom: 0px;
        font-size: 17px;
    }
    .left-part h3,
    .right-part h3 {
        font-size: 12px;
    }
    .left-part p,
    .right-part p {
        text-align: justify;
        width: 94%;
        line-height: 22px;
        font-size: 13px;
    }
    .experet {
        padding-left: 70px;
    }
    .title h2 {
        padding-left: 69px;
    }
}


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .left-part h2,
    .right-part h2 {
        font-size: 28px;
    }
    
    #exparience-part {
        background-size: 55px;
    }
    
    .middle-content .second-paragraph {
        width: 80%;
    }
    
    #exparience-part {
        background-image: url(../img/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 80px;
        padding: 70px 35px 70px 67px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .middle-content .second-paragraph {
        width: 87%;
    }
    
    .middle-img img {
        max-width: 100%;
        height: auto;
        padding-top: 45px;
    }
    
    #exparience-part {
        background-size: 55px;
    }
    
    #left-border {
        margin-left: 35px;
    }
}